<div class="row justify-content-md-center text-center appointments-container">
  <div class="col-md-6">
    <h2>Your Current Appointments</h2>

    <div class="row">
      <div class="col align-self-end mt-3">
        <%= link_to 'New Appointment', new_appointment_path, class: 'btn btn-outline-primary' %>
      </div>
    </div>

    <ul>
      <% @appointments.each do |appointment| %>
        <li>
          <div class="card">
            <div class="card-body">
              <p>
                <%= appointment.appointment_at.strftime('%Y-%m-%d %l:%M%p') %> with <%= appointment.dentist.name %>
              </p>
              <br>
              <small class="status">Status: <%= appointment.status %></small>
            </div>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
